[Unit]
Description=librespeed rust backend
Requires=speedtest_rs.socket
After=network.target speedtest_rs.socket

[Service]
Type=simple
ExecStart=/usr/bin/librespeed-rs -c /var/lib/librespeed-rs/configs.toml
WorkingDirectory=/var/lib/librespeed-rs/
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target